<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About{{>pageTitle}}</title>

    {{>upperLinks}}
</head>
<body>
    <div class="ui container">
        {{>header}}
        <h1>About Me</h1>
        <p>This site was created by Md. Rezwanul Haque Shiplu. It uses data from mapbox.com and weatherapi.com.</p>
        <img src="/img/shipluProfile.jpg" style="width: 265px;" />
    </div>
    {{>footer}}
</body>
</html>