<div class="ui inverted pointing menu">
  <a class="{{active_home_menu}}item" href="/">Home</a>
  <a class="{{active_about_menu}}item" href="/about">About</a>
  <a class="{{active_help_menu}}item" href="/help">Help</a>
</div>